[Unit]
Description=Start Samsung Morning Two-Episode Machine Through PREOPEN Dependency

[Timer]
OnCalendar=Mon..Fri *-*-* 07:57:00 Asia/Seoul
Persistent=false
AccuracySec=1s
Unit=korstockscan-samsung-morning-one-share.service

[Install]
WantedBy=timers.target
