[Unit]
Description=Prepare Hanse Afternoon Two-Leg Authority

[Timer]
OnCalendar=Mon..Fri *-*-* 14:15:00 Asia/Seoul
Persistent=false
AccuracySec=1s
Unit=korstockscan-low-price-two-leg-preflight@hanse_afternoon.service

[Install]
WantedBy=timers.target
